.btn_home {
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-property: background, border-color, color !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  width: auto !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  padding: 17px;
  width: 150px!important;
  font-weight: 600 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  min-width: 51.7771px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px 0px !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  border-width: 1px !important;
  border-style: solid !important;
  background: rgb(255, 255, 255) !important;
  border-color: transparent !important;
}
